/* Container styling */
.contactInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

/* Title */
.title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form group for inputs */
.formGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input fields styling */
.inputText {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.inputText:focus {
    border-color: #4caf50;
}

/* Button group */
.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Previous button */
.prevButton {
    padding: 12px 20px;
    background-color: #60A5FA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.prevButton:hover {
    background-color: #0056b3;
;
}

/* Save & Next button */
.nextButton {
    padding: 12px 20px;
    background-color: #60A5FA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.nextButton:hover {
    background-color: #0056b3;
}

/* Disabled button (if necessary) */
.nextButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
