/* Container styling */
.companyInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Increased width to accommodate grid */
    margin: 0 auto;
}

/* Title */
.companyInfoTitle {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Input Fields Container */
.inputFieldsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

/* Form Group */
.formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Labels */
.formGroup label {
    font-weight: bold;
    color: #555;
}

/* Input and TextArea styling */
.inputText, .textArea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.inputText:focus, .textArea:focus {
    border-color: #4caf50;
}

/* TextArea */
.textArea {
    resize: vertical;
    min-height: 120px;
}

/* Button styling */
.submitButton {
    padding: 12px 20px;
    background-color: #60A5FA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    transition: background-color 0.3s ease;
    width: 200px;
}

.submitButton:hover {
    background-color: #0056b3;
}

.submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Styling for the custom select */
.customSelect {
    width: 100%;
    padding: 12px;
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;     /* Slightly rounded corners */
    font-size: 16px;        /* Adjust the font size */
    color: #333;            /* Dark gray text */
    appearance: none;       /* Remove default select styles */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23999999"><polygon points="0,0 10,0 5,7"/></svg>'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 12px center; /* Arrow positioning */
    background-size: 12px; /* Arrow size */
    cursor: pointer;       /* Cursor changes to pointer */
}

/* Focus styling */
.customSelect:focus {
    border-color: #4caf50; /* Green border on focus */
}

/* Hides the default select arrow in IE11 */
.customSelect::-ms-expand {
    display: none;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .inputFieldsContainer {
        grid-template-columns: 1fr;
    }

    .submitButton {
        width: 100%;
    }
}
