.socialMediaContainer {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
}

.socialMediaTitle {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.socialMediaRow {
    display: flex;
    align-items: center;
    gap: 15px; /* Uniform gap between elements */
    margin-bottom: 15px;
}

.formGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.selectInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    outline: none;
}

.inputText {
    padding: 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    outline: none;
    margin-top: 25px; /* Ensure there's some space above the input */
}

.removeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #f00; /* Red color for the remove button */
}

.removeButton:hover {
    color: #c00;
}

.addLinkButtonContainer {
    text-align: center;
    margin-top: 20px;
}

.addLinkButton {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addLinkButton:hover {
    background-color: #e0e0e0;
}

.addLinkButton i {
    margin-right: 5px; /* Ensure there's space between the icon and the text */
}

.saveButton {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    width: 150px;
}

.saveButton:hover {
    background-color: #0056b3;
}
